*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center; /* alinha os itens no centro vertical */
    flex-wrap: wrap;
    background-color: black;
}

.cabecalho img {
    width: 30%;
    max-width: 30%;
    display: block;
}

.cabecalho nav {
    display: flex;
    justify-content: space-around;
    width: 60%;
    height: 100%;
    flex-wrap: wrap;
}

.cabecalho a {
    text-decoration: none;
    font-size: 4em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    color: #fff;
    text-align: center;
    padding: 20% 0;
}

.cabecalho a:hover {
    background-color: #fff;
    color: black;
}